@media (max-width: 800px) {
  .home-content, .grid {
    grid-template-columns: 1fr;
  }
  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .gallery-img img {
    width: 100%;
  }
  .contact-form {
    grid-column: span 1;
  }
}