:root {
  --primary-color: #440381;
  --secondary-color: #FFD6C0;
  --secondary-color2: #FFA5A5;
  --tertiary-color: #EC368D;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--secondary-color)
}

.secondary-bg {
  background: var(--secondary-color);
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--secondary-color2);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  position: relative;
}

.menu ul a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0%;
  height: 0.2rem;
  background: var(--tertiary-color);
  transition: all 300ms ease-in-out;
}

.menu ul a:hover::after {
  width: 50%;
  left: 25%;
}

.menu h1 {
  font-size: 2.5rem;
}