.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--secondary-color)
}

.secondary-bg {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.secondary-bg2 {
  background: var(--secondary-color2);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.section {
  min-height: 100vh;
}